#root {
  /* max-width: 1280px; */
  width: 100%;
  height: 100%;
  margin: 0 auto; 
  padding: 2rem;
  background-color: #232323;
  color: white;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: start; 
  justify-content: start;
  gap: 1rem;
  width: 100%; 
  /* max-width: 1000px; */
  height: 100%;
  margin-top: 3rem;
}

.quick-actions-container {
  background-color: #333333;
  width: calc(100% - 2rem);
  /* max-width: 1280px; */
  margin: 0 auto; 
  padding-left: 1em;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  border-radius: 15px;
}

.quick-actions-title {
  display: flex;
  justify-content: left;
  color: #ffffff; 
  font-size: 19px;
  margin: 0;
  padding-top: 5px;
  font-weight: 400;
}

.quick-actions-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.quick-actions-left {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
}

.quick-actions-right {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
}

.quick-action-btn {
  background-color: #232323; 
  color: #ffffff;
  border: none;
  padding: 0.7rem 1rem;
  cursor: pointer;
  min-width: 120px;
  transition: background-color 0.3s;
}
.quick-action-btn:hover {
  background-color: #5a854b; 
}

.developer-portal-btn {
  background-color: #3F5787;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-width: 120px;
  transition: background-color 0.3s;
}
.developer-portal-btn:hover {
  background-color: #5a7cc2; 
}

.quick-actions-divider {
  height: 2px; 
  background-color: #5a854b; 
  margin: 8px 0;
  margin-top: 4px; 
}

.applications-container {
  background-color: #333333;
  width: calc(100% - 2rem);
  margin: 0 auto; 
  padding-left: 1em;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  border-radius: 15px;
}

.applications-title {
  display: flex;
  justify-content: left;
  color: #ffffff;
  font-size: 19px;
  margin: 0;
  padding-top: 5px;
  font-weight: 400;
}

.applications-divider {
  height: 2px; 
  background-color: #5a854b; 
  margin: 8px 0;
  margin-top: 4px; 
}

.applications-btn-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.application-btn {
  background-color: #232323;
  color: #ffffff;
  border: none;
  padding: 0.7rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 5px; 
}

.application-btn:hover {
  background-color: #5a854b;
}
