.settings-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #232323;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.close-btn {
  font-size: 24px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.close-btn:hover {
  background-color: #353535;
}

.settings-title {
  margin: 0;
}

.settings-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-card {
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 18px;
}

.ide-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ide-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ide-path {
  color: gray;
  font-size: 14px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.select-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3F5787;
  color: white;
  align-self: flex-start;
  transition: background-color 0.3s;
  min-width: 200px;
  min-height: 45px;
}
.select-btn:hover {
  background-color: #5a7cc2;
}


.save-btn {
  transition: background-color 0.3s;
  padding: 8px 32px;
  min-width: 120px;
  min-height: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5A854B;
  color: white;
  align-self: flex-start;
}

.save-btn:hover {
  background-color: #6a9b5b;
}

.confirmation-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.popup-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3F5787;
  color: white;
  margin: 5px;
}

.popup-btn:hover {
  background-color: #5a7cc2;
}

.subsettings-btn {
  background-color: #333;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.settings-btn:hover {
  color: #aaa;
  background-color: red;
}

.settings-input {
  max-width: 500px;
  background-color:#232323;
  color: white;
  text-decoration: none;
  font-size: 16px;
}